@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: url(/logo.png) no-repeat #000;
  background-position: center center;
  min-height: 100%;
}
body {
  color: #fff;
  font-family: 'Source Code Pro', monospace;
}
